*{
  box-sizing: border-box;
  list-style: none;
 text-decoration: none;
 margin: 0;
}
body{

  display: flex;
  flex-wrap: wrap;
 
}

.logo{
  height: 25px;
}
 
  .container {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    padding: 30px;
  }
  .imagen{
    width: 450px;
    height:450px;
  padding: 10px;
    background-color:rgba(33, 59, 53, 0.02);
  color:rgba(33, 51, 58, 0.8);
  
    border-radius: 4px;
  display: flex;
 justify-content: flex-start;
  align-items: center;
  }
  .imagen1{
    width: 450px;
    height:450px;
     border: solid .5px rgba(33, 51, 58, 0.8);
border-radius: 24px;
padding: 10px;  
  }
 section{
  display: flex;
  flex:auto;
 }
  .body{
    background-color:aliceblue;
      width: 85%;
        display: flex;
        justify-content: center;
        align-items: center;
      
      }
    
figure{
  margin-left: 10px;

}
      .contour{

        display: flex;
        justify-content: center;
        align-items: center;
      flex-direction: column;
          height:100%;
          }
    
     h1,h3{
      margin-top: 25px;
      margin-right: auto;
      margin-left: auto;
      color: blue;
      }
      
  p{
        text-align: center;
        font-size: larger;
        font-weight: bolder;
         }

 
  a img{
    float: left;
  }
 .logotipo a{
  display: flex;
  justify-content: flex-start;
  margin-right: 5px;
  border-bottom: none;
 
 }
nav{
background-color: blue;
    height: 80px;
    width: 100%;
    border: solid 1px blue;
    display: flex;
     justify-content: flex-end;
     align-items: center;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
   
  
  }
  nav ul li a{
    font-size: x-large;
    color: whitesmoke;
    padding:7px 35px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  .checkbtn{
    font-size: 30px;
    color: aliceblue;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
 
  img:hover{
    box-shadow: 0 0 6px 7px rgba(40, 189, 247, 0.8);
  }
  .logotipo{
    padding-left:10px;
    padding-right:10px ;
  }
  .pie-pagina{
    width: 100%;
    background-color: white;
    margin-top: 5em;
  }
  .pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
   /* grid-template-columns: repeat(3,1fr);*/
   
    padding: 5px 0px;
    grid-gap: 50px;
  }
  .pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pie-pagina .grupo-1 .box figure img{
    width: 100px;
  }
  .pie-pagina .grupo-2{
    background-color: blue;
    padding: 10px 5px;
    text-align: center;
    color:white;
    border: 2px solid aliceblue;
    border-radius: 1px;
  }
  .pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width:45px;
    height: 45px;
    line-height: 45px;
    color: blue;
    margin-right: 10px;
  text-align: center;
  transition: all 300ms ease;
  
    
  }
  @media(max-width:980px){
    .enlace{
    padding: left;
    }
  
    .imagen,.image1{
      justify-content: center;
    }
   
    nav{
    
        background-color: blue;
        height: 60px;
        width: 100%;
     
     
      }
      nav ul li{
        display: inline-block;
        line-height: 60px;
        margin: 0 15px;
      
      }
    nav ul li a{
      font-size: 16px;
    }
    .logo{
      height: 25px;
    }
   
    }
    
    @media(max-width:768px){
       .checkbtn{
        display: block;
       }
       ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background:plum ;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
       }
       nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    
    }
    li a:hover, li a:active{
      background-color: none;
      color: red;
    }
    #check:checked ~ ul{
    left: 0;
    }
    .pie-pagina .grupo-1{
      width: 90%;
      
      display: grid;
      grid-template-columns: repeat(1,1fr);
      padding: 25px 15px;
    }
   
 
     .pie-pagina .grupo-1 .box figure img{
      width: 100px;
    }
    a{
      font-size: smaller;
      font-weight: bold;
      font-weight: bolder;
      
    }
      }