*{
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
}


  .header{
    grid-column: 1;
    grid-row: 1;
    background-color: bisque;
    height: 100px;
    width: 100%;
  }
  .cabeza{
    background-color: #00008B;
    height: 100%;
    width: 100%;
  }
  .container {
    display: flex;
    
    height: 100%;
    width: 100%;
    background-color: #00008B;
  }
  .btn_lat{
    height: 50px;
    width: 100px;
    border: solid 3px silver;
    border-radius: 8px;
    background: blue;
    color: white;
    font-size: .9rem;
  }
  .lateral{

height:100%;
  width: 15%;
  background-color: #00008B;
  }
  .body{
    background-color:whitesmoke;
      width: 85%;
     height: 100vh;
       
      }
     
   
   
    
     
  .option{
    background-color:#00008B;
    width: 100%;
    height: 100vh;
    padding-top: 50px;
  
  }
  
  .option a{
    color: white;
    font-size: 1.2rem;
    padding-top: 50px;
    padding-left:10px;
    margin-right: 5px;
    
  }
  .option h3{
    color: white;
    font-size: 1.2rem;
    padding-top: 5px;
    padding-left:10px;
    margin-bottom:50px ;
  }


  a img{
    float: left;
  }


 .logotipo a{
  display: flex;
  margin-left: 5px;
  margin-right: 5px;
  border-bottom: none;

 }
h2{
  text-align: center;
  color: blue;
  margin-top: 25px;
}

form{
  height: auto;
  width: 20%;
border: solid 3px salmon;
margin-top: 15px;
background-color: lightsteelblue;
border-radius: 5px;
padding: 2px;
margin-left: 50px;

}
form h3{
  text-align: center;
  text-transform: uppercase;
}

.btn_form{
background-color: blue;
color: white;
border-radius: 4px;
width: 90%;
height: 25px;
}
form h4{
  text-align: center;
  font-weight: bolder;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.form_grupo{
  display: flex;
 margin-left: 30px;
 flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  width: 100%;
}
.form_grupo label{
  font-size: .8rem;
}


.button2{
 
  width: 50%;
  height: auto;
  background-color: blue;
  border-radius: 4px;
  margin-bottom: 10px;
  color: white;
  font-size: 1.1rem;
text-align: center;
margin-left: 50px;
margin-top: 10px;

}

button:hover{
  background-color: aqua;
}
.boton{
  margin-left: 50px;
  
  background-color: blue;
  color: white;
  height: auto;
  border-radius: 4px;
  border: solid 1px white;
  padding: 3px;
  width: 20%;
  margin-top: 10px;
}
label{
  font-size: .9rem;
  font-weight: bolder;
  text-transform: uppercase;
}
select{
  width: 80px;
  border: solid 1px blue;
  border-radius: 4px;
  height: 20px;
}
p{
  text-align: centers;
}

label, input {
 
  margin: 3px;
}
input{
  border: solid 1px blue;
  padding-left: 10px;
  margin: 7px;
  height: 25px;
 
  border-radius: 4px;
font-size: 1.1rem;
  
}
input[type="text"]{
  width: 45%;
}

  .enlace{
    position: absolute;
    padding :20px 50px;
    left: 1%;
  }
  .logo{
    height: 40px;
    border-radius: 2px;
    border: solid 1px white;
  }
  .button{
    background-color: blue;
    height: 25px;
    width: 80%;
    border-radius: 4px;
    margin-right: 15px;
    margin-left: 15px;
    border: solid 1px white;
    color: white;
    
    margin-top: 10px;
    margin-bottom: 10px;
  }
 
  nav{
  
    background-color: #00008B;
    height: 80px;
    width: 100%;
   
    border-radius: 1px;
    display: flex;
     justify-content: flex-end;
     align-items: center;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
   
  
  }
  nav ul li a{
    font-size: x-large;
    color: whitesmoke;
    padding:7px 15px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  
  .checkbtn{
    font-size: 30px;
    color: aliceblue;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  .imagen{
    width: 450px;
    height:400px;
    
    border-radius: 4px;
  
  }
  .imagen1{
    width: 350px;
    height:400px;
   
    border-radius: 4px;
  
  }
  table{
    width:90%;

padding: 20px;
margin: 50px;

  }
  table tr{
    display: flex;
    flex-direction: column;
    padding: 8px;
    border: solid 1px lightgrey ;
    opacity: 80%;
  }
  table th{
    display: none;
    border: none;
  }
  table td{
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
 
  }
  table td[data-titulo]::before{
    content:attr(data-titulo);
    font-size: 1.2rem;
    color: silver;
    
  }
 
  tr:nth-child(even){
    background-color: #eee;
  }
  .left{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
 .right{
margin-top: 25px;
  height: 500px;
  overflow-y: auto;
 margin-bottom: 5px;
 }

  th{
    background-color: black;
    color: white;
    border: solid 1px white;
  }
  a h2{
    color: white;
  }
  @media (max-width:1200px) {
 
       
        th ,td{
    
          font-size: .8rem;
         padding: 3px;
         border-bottom: solid 1px lightgray;
       }
       th{
         background-color: black;
         color: white;
         border: solid 1px white;
       }
  }
  @media(max-width:980px){
    .enlace{
    padding: left;
    }
    
    nav{
    
        background-color: #00008B;
        height: 60px;
        width: 100%;
       
        border-radius: 1px;
      }
      nav ul{
        float: right;
      }
      nav ul li{
        display: inline-block;
        line-height: 60px;
        margin: 0 15px;
      
      }
    nav ul li a{
      font-size: 16px;
    }
    .logo{
      height: 25px;
    }
    .imagen{
      width: 350px;
      height:270px;
     
      border-radius: 4px;
    
    }
  
    .imagen1{
      width: 350px;
      height:270px;
      
      border-radius: 4px;
    
    }
    .option a{
      font-size: .8rem;
      font-weight:lighter;
      
    }
    .form_grupo label{
      font-size: .6rem;
      font-weight: bold;
    }
   
    }
    
    @media(max-width:768px){
       .checkbtn{
        display: block;
       }
       ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background:plum ;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
       }
       nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    
    }
    li a:hover, li a:active{
      background-color: none;
      color: red;
    }
    select option{
      font-size: .8rem;
    }
    #check:checked ~ ul{
    left: 0;
    }
    input{
      border: solid 1px blue;
      padding-left: 10px;
      margin: 9px;
      height: 20px;
      border-radius: 4px;
    font-size: 1.0rem;
      
    }
    .btn_lat{
      height: 25px;
      width: 140px;
      border: solid 2px silver;
      border-radius: 5px;
      background: blue;
      color: white;
      margin: 20px 10px;
    }
    .container{
      width: 100%;
    display: flex;
   
   
   background-color: white;
    }
    .imagen{
      width: 100%;
      height:auto;
     
      border-radius: 4px;
     
    
    }
    .encabezado{
      display: flex;
      justify-content: space-around;
      margin-top: 40px;
      margin-bottom: 40px;
    }
    .imagen1{
      width: 0;
      height:auto;
     
      border-radius: 4px;
     }
    .lateral{
      width: 10%;
      height: auto;
    }
    .body{
      width: 100%;
    }
    a{
      font-size: smaller;
      font-weight: bold;
      font-weight: bolder;
      
    }
    .option a{
      font-size: smaller;
      font-weight: bold;
    
    }
    .option a h4{
      color: navy;
    }
    .option h3{
      font-size: smaller;
      font-weight: bold;
      
    }
    td{
      
      color: lightslategrey;
      
      
    }
  
      }